@use '../../mixins.scss';
.Main {
    @include mixins.font;
    @include mixins.grid;
    @include mixins.main-heading;
    @include mixins.padding;

    background-color: #8EC5F2;
    grid-template-rows: 25px 25px auto 30px;

    section[class~=questions] {
        border: 1px solid rgba(0, 0, 0, 0.15);
        overflow: auto;
        padding: 10px;

        ul {
            li {
                &:not(:first-of-type) {
                    margin-top: 15px;
                }
            }
        }
    }

    section[class~=buttons] {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;
        button {
            border: none;
            border-radius: 4px;
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
            color: #fff;
            font-size: 14px;
            outline: none;
            padding: 6px 12px;
            text-transform: uppercase;
            transition: background-color 130ms ease-in-out, box-shadow 180ms ease-in-out;
            width: 80px;
        }
    }
}