.Main {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: grid;
    grid-template-columns: 26px 1fr;
    min-width: 0;
    &[class~=active] {
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
    }

    div[class~=name] {
        min-width: 0;
        word-wrap: break-word;
    }
}