@use 'assets/style/effects.scss';
.Main {
    @include effects.ripple;
    background-color: transparent;
    border: none;
    height: 100%;
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}