@mixin font {
    color: black;
    font-size: 15px;
}

@mixin grid {
    display: grid;
    gap: 10px;
    height: 100%;
    min-height: 0;
}

@mixin main-heading {
    h1 {
        font-size: 18px;
        font-weight: 600;
    }
}

@mixin padding {
    padding: 20px;
}