@use '../../mixins.scss';
.Main {
    @include mixins.font;
    @include mixins.grid;
    @include mixins.main-heading;
    @include mixins.padding;

    background-color: #BBDEFB;
    display: grid;
    gap: 10px;
}