@use 'components/QuizCreator/mixins.scss';
.Main {
    label {
        color: #fff;
        cursor: pointer;
        display: inline-flex;

        input[type=file] {
            position: absolute;
            visibility: hidden;
        }

        span[class~=label--text] {
            @include mixins.button;
            @include mixins.primary-button;
        }
    }
}