@use 'components/QuizCreator/mixins.scss';
.Main {
    section[class~=image] {
        padding: 15px;
        text-align: center;
        button {
            @include mixins.button;
            background-color: var(--primary-color);
        }
    }
}